---
import Base from "../layouts/Base.astro";

// vinyl
import Album from "../components/vinyl/Album.astro";
---

<Base>
  <div
    x-cloak
    x-data="{ toggle: false, fun() {
		document.startViewTransition(() => {
			this.toggle = !this.toggle;
		});
	}}"
    class="w-full bg-green-800"
  >
    <div class="p-24">
      <div class="mx-auto flex w-max">
        <template x-if="!toggle">
          <div
            @click="fun"
            style="view-transition-name: card;"
            class="relative z-[1] -mx-0 my-6 flex aspect-[calc(3/4)] h-44 -rotate-12 flex-col items-center justify-between rounded-lg border border-zinc-950/20 bg-white py-6 transition-all will-change-transform hover:z-10 hover:-translate-y-3"
          >
            <svg viewBox="0 0 256 256" class="size-12"
              ><rect width="256" height="256" fill="none"></rect><path
                fill="red"
                d="M240,128a15.85,15.85,0,0,1-4.67,11.28l-96.05,96.06a16,16,0,0,1-22.56,0h0l-96-96.06a16,16,0,0,1,0-22.56l96.05-96.06a16,16,0,0,1,22.56,0l96.05,96.06A15.85,15.85,0,0,1,240,128Z"
              ></path></svg
            >
            <p class="text-5xl font-bold">2</p>
          </div>
        </template>
        <template x-if="toggle">
          <div
            class="relative z-[1] -mx-0 my-6 flex aspect-[calc(3/4)] h-44 -rotate-12 flex-col items-center justify-between rounded-lg border border-zinc-950/20 bg-white py-6 opacity-50 transition-all will-change-transform hover:z-10 hover:-translate-y-3"
          >
            <svg viewBox="0 0 256 256" class="size-12"
              ><rect width="256" height="256" fill="none"></rect><path
                fill="red"
                d="M240,128a15.85,15.85,0,0,1-4.67,11.28l-96.05,96.06a16,16,0,0,1-22.56,0h0l-96-96.06a16,16,0,0,1,0-22.56l96.05-96.06a16,16,0,0,1,22.56,0l96.05,96.06A15.85,15.85,0,0,1,240,128Z"
              ></path></svg
            >
            <p class="text-5xl font-bold">2</p>
          </div>
        </template>

        <div
          class="relative z-[2] -mx-3 my-1.5 flex aspect-[calc(3/4)] h-44 -rotate-6 flex-col items-center justify-between rounded-lg border border-zinc-950/20 bg-white py-6 transition-all will-change-transform hover:z-10 hover:-translate-y-3"
        >
          <svg viewBox="0 0 256 256" class="size-12"
            ><rect width="256" height="256" fill="none"></rect><path
              d="M232,136a56,56,0,0,1-83.4,48.82l11.06,36.88A8,8,0,0,1,152,232H104a8,8,0,0,1-7.66-10.3l11.06-36.88A56,56,0,0,1,24,136c0-32,17.65-62.84,51-89.27a234.14,234.14,0,0,1,49.89-30.11,7.93,7.93,0,0,1,6.16,0A234.14,234.14,0,0,1,181,46.73C214.35,73.16,232,104,232,136Z"
            ></path></svg
          >
          <p class="text-5xl font-bold">10</p>
        </div>
        <div
          class="relative z-[3] flex aspect-[calc(3/4)] h-44 flex-col items-center justify-between rounded-lg border border-zinc-950/20 bg-white py-6 transition-all will-change-transform hover:z-10 hover:-translate-y-3"
        >
          <svg viewBox="0 0 256 256" class="size-12"
            ><rect width="256" height="256" fill="none"></rect><path
              d="M240,144a56,56,0,0,1-84.81,48h-4.44l8.91,29.7A8,8,0,0,1,152,232H104a8,8,0,0,1-7.66-10.3l8.91-29.7h-4.44A56,56,0,1,1,72,88c.78,0,1.55,0,2.33,0a56,56,0,1,1,107.34,0c.77,0,1.55,0,2.33,0A56.06,56.06,0,0,1,240,144Z"
            ></path></svg
          >
          <p class="text-5xl font-bold">A</p>
        </div>
        <div
          class="relative z-[4] -mx-3 my-1.5 flex aspect-[calc(3/4)] h-44 rotate-6 flex-col items-center justify-between rounded-lg border border-zinc-950/20 bg-white py-6 transition-all will-change-transform hover:z-10 hover:-translate-y-3"
        >
          <svg viewBox="0 0 256 256" class="size-12"
            ><rect width="256" height="256" fill="none"></rect><path
              fill="red"
              d="M240,102c0,70-103.79,126.66-108.21,129a8,8,0,0,1-7.58,0C119.79,228.66,16,172,16,102A62.07,62.07,0,0,1,78,40c20.65,0,38.73,8.88,50,23.89C139.27,48.88,157.35,40,178,40A62.07,62.07,0,0,1,240,102Z"
            ></path></svg
          >
          <p class="text-5xl font-bold">J</p>
        </div>
        <div
          class="relative z-[5] -mx-0 my-6 flex aspect-[calc(3/4)] h-44 rotate-12 flex-col items-center justify-between rounded-lg border border-zinc-950/20 bg-white py-6 transition-all will-change-transform hover:z-10 hover:-translate-y-3"
        >
          <svg viewBox="0 0 256 256" class="size-12"
            ><rect width="256" height="256" fill="none"></rect><path
              fill="red"
              d="M240,102c0,70-103.79,126.66-108.21,129a8,8,0,0,1-7.58,0C119.79,228.66,16,172,16,102A62.07,62.07,0,0,1,78,40c20.65,0,38.73,8.88,50,23.89C139.27,48.88,157.35,40,178,40A62.07,62.07,0,0,1,240,102Z"
            ></path></svg
          >
          <p class="text-5xl font-bold">Q</p>
        </div>
      </div>
    </div>
    <div class="mx-auto h-96 w-max p-24">
      <template x-if="toggle">
        <div
          @click="fun"
          style="view-transition-name: card;"
          class="relative z-[1] flex aspect-[calc(3/4)] h-44 scale-[1.5] flex-col items-center justify-between rounded-lg border border-zinc-950/20 bg-white py-6"
        >
          <svg viewBox="0 0 256 256" class="size-12"
            ><rect width="256" height="256" fill="none"></rect><path
              fill="red"
              d="M240,128a15.85,15.85,0,0,1-4.67,11.28l-96.05,96.06a16,16,0,0,1-22.56,0h0l-96-96.06a16,16,0,0,1,0-22.56l96.05-96.06a16,16,0,0,1,22.56,0l96.05,96.06A15.85,15.85,0,0,1,240,128Z"
            ></path></svg
          >
          <p class="text-5xl font-bold">2</p>
        </div>
      </template>
    </div>
  </div>

  <div class="bg-blue-50 py-44">
    <div class="mx-auto w-max">
      <Album />
    </div>
  </div>
</Base>
