---
import Base from "../layouts/Base.astro";

// vinyl
import Album from "../components/vinyl/Album.astro";
import GridableAlbum from "../components/vinyl/GridableAlbum.astro";
---

<Base>
  <div class="mx-auto w-max bg-black p-6">
    <GridableAlbum albumName="/img/albums/album5.webp" />
  </div>
</Base>
