---
import SpotifyLayout from "../layouts/Spotify.astro";

const albums = ["1", "2", "3"];
---

<SpotifyLayout>
  <div class="h-full w-full bg-[#202020] px-4">
    {albums.map( (item) => (
    <div class="space-y-4 py-[200px]">
      <h1 class="text-xl font-semibold text-[#E0E0E0]">Мои альбомы</h1>
      <div class="flex gap-2.5 overflow-hidden py-4">
        <figure class="relative flex shrink-0 flex-col items-center">
          <img
            class="relative z-50 size-36 rounded-md"
            src="img/albums/album1.png"
            alt=""
          />
          <!-- <div aria-hidden="true" class="absolute size-[100%] -top-[1px] z-40 bg-[#202020]"></div> -->
          <!-- <div aria-hidden="true" class="absolute size-[100%] -top-[5px] z-20 bg-[#202020]"></div> -->
          <div
            aria-hidden="true"
            class="absolute -top-1 z-30 size-[90%] rounded-md bg-red-900"
          >
          </div>
          <div
            aria-hidden="true"
            class="absolute -top-2 z-10 size-[80%] rounded-md bg-red-950"
          >
          </div>
          <figcaption class="font mt-1 text-left w-full text-xs text-[#E0E0E0]">
            Dagny
          </figcaption>
        </figure>
        <figure class="relative flex shrink-0 flex-col items-center">
          <img
            class="relative z-50 size-36 rounded-md"
            src="img/albums/album3.webp"
            alt=""
          />
          <!-- <div aria-hidden="true" class="absolute size-[100%] -top-[1px] z-40 bg-[#202020]"></div> -->
          <!-- <div aria-hidden="true" class="absolute size-[100%] -top-[5px] z-20 bg-[#202020]"></div> -->
          <div
            aria-hidden="true"
            class="absolute -top-1 z-30 size-[90%] rounded-md bg-indigo-900"
          >
          </div>
          <div
            aria-hidden="true"
            class="absolute -top-2 z-10 size-[80%] rounded-md bg-indigo-950"
          >
          </div>
          <figcaption class="font mt-1 text-left w-full text-xs text-[#E0E0E0]">
            Olivia Rodrigo
          </figcaption>
        </figure>
        <figure class="relative flex shrink-0 flex-col items-center">
          <img
            class="relative z-50 size-36 rounded-md"
            src="img/albums/album4.webp"
            alt=""
          />
          <!-- <div aria-hidden="true" class="absolute size-[100%] -top-[1px] z-40 bg-[#202020]"></div> -->
          <!-- <div aria-hidden="true" class="absolute size-[100%] -top-[5px] z-20 bg-[#202020]"></div> -->
          <div
            aria-hidden="true"
            class="absolute -top-1 z-30 size-[90%] rounded-md bg-emerald-900"
          >
          </div>
          <div
            aria-hidden="true"
            class="absolute -top-2 z-10 size-[80%] rounded-md bg-emerald-950"
          >
          </div>
          <figcaption class="font mt-1 text-left w-full text-xs text-[#E0E0E0]">
            Gracie Abrams
          </figcaption>
        </figure>
      </div>
    </div>
    )

    )}

  </div>
</SpotifyLayout>
