---
import Base from "../layouts/Base.astro";
import StartOverlay from "../components/StartOverlay.astro";
---

<Base>
  <!-- <StartOverlay></StartOverlay> -->

  <div class="mx-auto my-16 w-max">
    <div class="aspect-[1.5] h-48 md:h-64 lg:h-[340px] bg-black border-[3.5px] p-[6px] overflow-hidden rounded-[20px] border-neutral-300">
        <div class="size-full bg-[#32323c] rounded-[10.5px]">

        </div>
    </div>
  </div>
</Base>
