---
import Base from "../layouts/Base.astro";
import StartOverlay from "../components/StartOverlay.astro";
import Tablets from "../components/Tablets.astro";
import Carousel from "../components/Carousel.astro";
---

<Base>
  <StartOverlay />

  <!-- <Carousel /> -->

  <div class="mb-24 mt-[1300px] w-full px-8">
    <div
      id="smoky-bg"
      class="h-[470px] rounded-2xl bg-white bg-[url('/img/bg/smoky1.jpg')] bg-cover bg-fixed bg-bottom"
    >
    </div>
  </div>

  <div class="border-t border-gray-300 w-[calc(100vw_-_4rem)] mx-auto"></div>

  <Tablets/>

  <div class="mb-24 mt-[1300px] w-full px-8">
    <div
      id="smoky-bg"
      class="h-[470px] rounded-2xl bg-white bg-[url('/img/bg/smoky1.jpg')] bg-cover bg-fixed bg-bottom"
    >
    </div>
  </div>
</Base>
