---
import Base from "../layouts/Base.astro";
import StartOverlay from "../components/StartOverlay.astro";
---

<Base>
  <StartOverlay></StartOverlay>

  <div class="w-full mx-auto space-y-24">
    <div class="space-y-4 mx-auto w-max">
      <div
        class="shadow-[rgba(0,_0,_0,_0.24)_10px_8px_16px] aspect-[calc(16/9)] h-48 md:h-64 lg:h-[340px] bg-black border-[3.5px] p-[6px] overflow-hidden rounded-[20px] border-neutral-300"
      >
        <div
          class="size-full bg-[#32323c] rounded-[10.5px] overflow-hidden relative"
        >
          <img src="/img/1.jpg" alt="1" class="absolute inset-0 size-full" />
        </div>
      </div>
      <p class="font-medium"><span class="font-bold mr-1">LautmalerA</span> unique agency, focused on conversational AI</p>
    </div>

    <div>
      <div class="space-y-4 lg:translate-x-[40%] mx-auto w-max">
        <div
          class="shadow-[rgba(0,_0,_0,_0.24)_10px_8px_16px] aspect-[calc(16/9)] h-48 md:h-64 lg:h-[340px] bg-black border-[3.5px] p-[6px] overflow-hidden rounded-[20px] border-neutral-300"
        >
          <div
            class="size-full bg-[#32323c] rounded-[10.5px] overflow-hidden relative"
          >
            <img src="/img/2.jpg" alt="1" class="absolute inset-0 size-full" />
          </div>
        </div>
        <p class="font-medium"><span class="font-bold mr-1">LautmalerA</span> unique agency, focused on conversational AI</p>
      </div>
    </div>

    <div>
      <div class="lg:-translate-x-[50%] mx-auto space-y-4 w-max">
        <div
          class="shadow-[rgba(0,_0,_0,_0.24)_10px_8px_16px] aspect-[calc(16/9)] h-48 md:h-64 lg:h-[340px] bg-black border-[3.5px] p-[6px] overflow-hidden rounded-[20px] border-neutral-300"
        >
          <div
            class="size-full bg-[#32323c] rounded-[10.5px] overflow-hidden relative"
          >
            <img src="/img/3.jpg" alt="1" class="absolute inset-0 size-full" />
          </div>
        </div>
        <p class="font-medium"><span class="font-bold mr-1">LautmalerA</span> unique agency, focused on conversational AI</p>
      </div>
    </div>

    <div>
      <div class="lg:translate-x-[30%] mx-auto w-max space-y-4">
        <div
          class="shadow-[rgba(0,_0,_0,_0.24)_10px_8px_16px] aspect-[calc(16/9)] h-48 md:h-64 lg:h-[340px] bg-black border-[3.5px] p-[6px] overflow-hidden rounded-[20px] border-neutral-300"
        >
          <div
            class="size-full bg-[#32323c] rounded-[10.5px] overflow-hidden relative"
          >
            <img src="/img/4.jpg" alt="1" class="absolute inset-0 size-full" />
          </div>
        </div>
        <p class="font-medium"><span class="font-bold mr-1">LautmalerA</span> unique agency, focused on conversational AI</p>
      </div>
    </div>
  </div>
</Base>
