---
import Base from "../layouts/Base.astro";
import StartOverlay from "../components/StartOverlay.astro";
---

<Base>
  <!-- <StartOverlay></StartOverlay> -->

  <div class="mx-auto my-16 w-max">
    <div class="aspect-[1.5] h-44 bg-black border-[3px] p-[4px] overflow-hidden rounded-[20px] border-neutral-300">
        <div class="size-full bg-[#32323c] rounded-[13px]">

        </div>
    </div>
  </div>
</Base>
