---
import Base from "../layouts/Base.astro";
import StartOverlay from "../components/StartOverlay.astro";
import Tablets from "../components/Tablets.astro";
import Carousel from "../components/Carousel.astro";
---

<Base>
  <!-- <StartOverlay /> -->

  
  <Carousel/>
  

  <div class="w-full px-8 mb-24 mt-[1300px]">
    <div
      id="smoky-bg"
      class="rounded-2xl h-[470px] bg-white bg-[url('/img/bg/smoky1.jpg')] bg-fixed bg-cover bg-bottom"
    >
    </div>
  </div>

  <!-- <Tablets/> -->
</Base>
