---
import CarouselItem from "./CarouselItem.astro";
---

<div
  class="wrapper relative my-80 flex h-[52vw] w-[100%] flex-row items-center justify-start overflow-hidden opacity-0 will-change-transform lg:h-[26vw]"
>
  <CarouselItem img_path="/img/albums/album1.png" />
  <CarouselItem img_path="/img/albums/album2.webp" />
  <CarouselItem img_path="/img/albums/album3.webp" />
  <CarouselItem img_path="/img/albums/album4.webp" />
  <CarouselItem img_path="/img/albums/album5.webp" />
  <CarouselItem img_path="/img/albums/album6.webp" />
  <CarouselItem img_path="/img/albums/album7.webp" />
  <CarouselItem img_path="/img/albums/album8.webp" />
  <CarouselItem img_path="/img/albums/album9.webp" />
  <CarouselItem img_path="/img/albums/album10.webp" />
  <CarouselItem img_path="/img/albums/album11.webp" />
</div>
