---
interface Props {
  img_path: string;
}

const { img_path } = Astro.props;
---

<!-- paradiso aspect 4/5 -->
<div
  class="box relative z-0 flex aspect-[1] w-[48vw] shrink-0 items-center justify-center lg:w-[22vw]"
>
  <picture
    class="absolute z-0 inline-block aspect-[1] w-[52vw] bg-slate-200 lg:w-[22vw]"
  >
    <img
      class="aspect-[1] size-full duration-300 ease-in"
      src={img_path}
      alt="a"
    />
  </picture>
</div>
