---
import CarouselItem from "./CarouselItem.astro";
---

<div
  class="opacity-0 will-change-transform wrapper relative h-[26vw] flex flex-row justify-start items-center my-80 overflow-hidden w-[100%]"
>
  <CarouselItem img_path="/img/albums/album1.png" />
  <CarouselItem img_path="/img/albums/album2.webp" />
  <CarouselItem img_path="/img/albums/album3.webp" />
  <CarouselItem img_path="/img/albums/album4.webp" />
  <CarouselItem img_path="/img/albums/album5.webp" />
  <CarouselItem img_path="/img/albums/album6.webp" />
  <CarouselItem img_path="/img/albums/album7.webp" />
  <CarouselItem img_path="/img/albums/album8.webp" />
  <CarouselItem img_path="/img/albums/album9.webp" />
</div>
