---
const { url, name } = Astro.props;
// data-astro-prefetch
interface Props {
  url: string;
  name: string;
}
---

<a
  href={url}
  class="group flex items-center gap-1 text-xs font-medium before:flex before:size-[4px] before:rounded-full before:bg-primary first:before:hidden focus:outline-none sm:text-sm"
>
  <span
    class:list={[
      "rounded-full px-3 py-1.5 transition-all duration-300 group-hover:bg-primary group-hover:text-white",
      {
        "bg-gradient-to-r from-pink-500 via-red-500 to-orange-500 bg-clip-text text-transparent group-hover:bg-clip-border":
          name === "Inspo",
      },
    ]}>{name}</span
  >
</a>
