---
// import "../assets/scripts/startOverlay";
---

<div
  id="start-overlay"
  class="fixed inset-0 z-[999] grid size-full place-items-center bg-black"
>
  <div
    id="start-overlay-text-container"
    class="relative flex origin-top-left rotate-[45deg] gap-3 text-2xl font-normal text-white will-change-transform lg:text-4xl"
  >
    <div id="start-overlay-span-1" class="z-40 translate-y-[150%] opacity-0">
      Will
    </div>
    <div id="start-overlay-span-2" class="z-40 opacity-0">You</div>
    <div id="start-overlay-span-3" class="z-40 opacity-0">Be</div>
    <div id="start-overlay-span-4" class="z-40 opacity-0">Remembered?</div>

    <div
      id="start-overlay-black"
      class="absolute inset-0 z-50 mt-1 h-96 bg-black"
    >
    </div>
  </div>
</div>
<script>
  import "../assets/scripts/startOverlay";
</script>
<!-- <p class="translate-y-0 translate-y-12 text-green-500 text-red-500"></p> -->
