---

---

<div
  id="start-overlay"
  class="fixed inset-0 size-full bg-black z-[999] grid place-items-center"
>
  <div
    id="start-overlay-text-container"
    class="will-change-transform rotate-[45deg] relative origin-top-left text-white text-2xl lg:text-4xl flex gap-3 font-normal"
  >
    <div id="start-overlay-span-1" class="z-40 opacity-0 translate-y-[150%]">
      Will
    </div>
    <div id="start-overlay-span-2" class="z-40 opacity-0">You</div>
    <div id="start-overlay-span-3" class="z-40 opacity-0">Be</div>
    <div id="start-overlay-span-4" class="z-40 opacity-0">Remembered?</div>

    <div
      id="start-overlay-black"
      class="absolute bg-black inset-0 mt-1 h-96 z-50"
    >
    </div>
  </div>
</div>
<!-- <p class="translate-y-0 translate-y-12 text-green-500 text-red-500"></p> -->
