---
interface Props {
  img_path: string;
  translate: string;
  id: string;
}

const { img_path, translate, id } = Astro.props;
---

<div
  id={id}
  class:list={[
    "flex w-full flex-col items-center space-y-3 md:w-[375px] lg:w-[605px] xl:w-[770px]",
    translate,
  ]}
>
  <div
    class="aspect-[calc(16/10)] h-auto w-full overflow-hidden rounded-[20px] border-[3.5px] border-neutral-300 bg-black p-[6px] shadow-[rgba(0,_0,_0,_0.24)_10px_8px_16px] will-change-transform"
  >
    <div
      class="relative size-full overflow-hidden rounded-[10.5px] bg-[#32323c]"
    >
      <img src={img_path} alt="1" class="size-full object-contain" />
    </div>
  </div>

  <slot name="title_slot" />
</div>
