---
import Tablet from "../components/Tablet.astro";
---

<script>
  import "../assets/scripts/tablets";
</script>

<!-- <div class="mx-[6%] my-24 space-y-20 lg:mx-0"> -->
<div class="relative my-24 px-[6%] py-16 lg:px-0">
  <!-- overlay -->
  <div
    class="sticky top-[30vh] select-none text-center text-[29vw] font-normal xl:top-[0px] "
  >
    WORK
  </div>

  <div class="flex flex-col items-center justify-center space-y-20 py-[50vh]">
    <Tablet id="tablet-1" img_path="/img/1.jpg" translate="">
      <p slot="title_slot" class="w-full pl-2 text-sm xl:text-base">
        <span class="mr-1 font-bold">LautmalerA</span> unique agency, focused on
        conversational AI
      </p>
    </Tablet>

    <Tablet
      id="tablet-2"
      img_path="/img/2.jpg"
      translate="md:translate-x-[8%] xl:translate-x-[16%]"
    >
      <p slot="title_slot" class="w-full pl-2 text-sm xl:text-base">
        <span class="mr-1 font-bold">LautmalerA</span> unique agency, focused on
        conversational AI
      </p>
    </Tablet>

    <Tablet
      id="tablet-3"
      img_path="/img/3.jpg"
      translate="md:-translate-x-[6%] xl:-translate-x-[14%]"
    >
      <p slot="title_slot" class="w-full pl-2 text-sm xl:text-base">
        <span class="mr-1 font-bold">LautmalerA</span> unique agency, focused on
        conversational AI
      </p>
    </Tablet>

    <Tablet
      id="tablet-4"
      img_path="/img/4.jpg"
      translate="md:translate-x-[4%] xl:translate-x-[12%]"
    >
      <p slot="title_slot" class="w-full pl-2 text-sm xl:text-base">
        <span class="mr-1 font-bold">LautmalerA</span> unique agency, focused on
        conversational AI
      </p>
    </Tablet>

    <Tablet
      id="tablet-5"
      img_path="/img/albums/album4.webp"
      translate="md:translate-x-[4%] xl:translate-x-[12%]"
    >
      <p slot="title_slot" class="w-full pl-2 text-sm xl:text-base">
        <span class="mr-1 font-bold">LautmalerA</span> unique agency, focused on
        conversational AI
      </p>
    </Tablet>
  </div>
</div>
